<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Список задач</title>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center">
        <a class="navbar-brand mb-0 h1" th:href="@{/loginPage}">Список задач</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <div class="row justify-content-center">
        <div class="card text-center mt-2" style="width: 55%">
            <div class="card-header">
                Регистрация
            </div>
            <div class="card-body shadow">
                <form th:action="@{/registration}" method="POST">
                    <div class="form-group row justify-content-center">
                        <input type="text" class="form-control bg-light col-md-6" placeholder="Имя"
                               name="name" id="name" required>
                    </div>
                    <div class="form-group row justify-content-center">
                        <input type="email" class="form-control bg-light col-md-6" placeholder="Email"
                               name="email" id="email" required>
                    </div>
                    <div class="form-group">
                        <div class="form-group row justify-content-center">
                            <input type="password" class="form-control bg-light col-md-6" placeholder="Пароль"
                                   name="password" id="password" required>
                        </div>
                        <div>Уже зарегистрированы?
                            <a th:href="@{/loginPage}" class="link" role="button"
                               aria-pressed="true">Войти</a>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block mt-3">Зарегистрироваться</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>